body {
    font-family: Helvetica;
}
h1 {
    text-align: center;
}


.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#convertButton {
    display: flex;
    justify-content: center;
    align-items: center;

}